In [83]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [84]:
df = pd.read_csv("Resources/applemobilitytrends-2020-05-28.csv")
df.head()

,geo_type,region,transportation_type,alternative_name,sub-region,country,2020-01-13,2020-01-14,2020-01-15,2020-01-16,...,2020-05-19,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27,2020-05-28
0,country/region,Albania,driving,NaN,NaN,NaN,100.0,95.30,101.43,97.20,...,51.12,59.04,61.14,65.34,56.11,53.39,73.94,66.27,65.59,66.11
1,country/region,Albania,walking,NaN,NaN,NaN,100.0,100.68,98.93,98.46,...,63.20,66.57,67.97,68.49,48.02,42.56,74.97,70.66,65.67,67.16
2,country/region,Argentina,driving,NaN,NaN,NaN,100.0,97.07,102.45,111.21,...,41.34,41.53,41.52,47.52,41.34,23.81,28.11,40.86,42.91,43.77
3,country/region,Argentina,walking,NaN,NaN,NaN,100.0,95.11,101.37,112.67,...,30.37,28.85,29.04,31.99,31.40,16.83,21.37,30.85,33.27,32.63
4,country/region,Australia,driving,AU,NaN,NaN,100.0,102.98,104.21,108.63,...,75.83,76.35,81.42,82.51,65.78,74.12,77.10,79.92,82.65,88.37

In [85]:
df.columns[6:]

Index(['2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17',
       '2020-01-18', '2020-01-19', '2020-01-20', '2020-01-21', '2020-01-22',
       ...
       '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-23',
       '2020-05-24', '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28'],
      dtype='object', length=137)

In [86]:
list = []
for col in df.columns[6:]:
    df_transposed=df[['geo_type', 'region', 'transportation_type', 'alternative_name', 'sub-region', 'country', col]]
    dt = []
    for i in range(0, len(df_transposed)):
        dt.append(col)
    
    df_transposed['date']=dt
    list.append(df_transposed.rename(columns={col:'score'}))

/Users/michaelboyce/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [87]:
apple_df = pd.concat(list)
apple_countries_df = apple_df.loc[df['geo_type'] == 'country/region']
apple_countries_df = apple_countries_df.loc[df['transportation_type'] == 'walking']
apple_countries_df = apple_countries_df.rename(columns={'score': 'walking_score'})
apple_countries_df.head()

,geo_type,region,transportation_type,alternative_name,sub-region,country,walking_score,date
1,country/region,Albania,walking,NaN,NaN,NaN,100.0,2020-01-13
3,country/region,Argentina,walking,NaN,NaN,NaN,100.0,2020-01-13
6,country/region,Australia,walking,AU,NaN,NaN,100.0,2020-01-13
8,country/region,Austria,walking,Ã–sterreich,NaN,NaN,100.0,2020-01-13
11,country/region,Belgium,walking,BelgiÃ«|Belgique,NaN,NaN,100.0,2020-01-13

In [88]:
apple_countries_df.to_csv("Cleaned/apple_country_mobility_data.csv")