In [41]:
import pandas as pd
import numpy as np
import datetime as dt

In [42]:
apple_df = pd.read_csv("Cleaned/apple_country_mobility_data.csv")
google_df = pd.read_csv("Cleaned/google_country_mobility_data.csv")

In [43]:

apple_df = apple_df.drop(apple_df.columns[0], axis=1)
apple_df.head()

,geo_type,region,transportation_type,alternative_name,sub-region,country,walking_score,date
0,country/region,Albania,walking,NaN,NaN,NaN,100.0,2020-01-13
1,country/region,Argentina,walking,NaN,NaN,NaN,100.0,2020-01-13
2,country/region,Australia,walking,AU,NaN,NaN,100.0,2020-01-13
3,country/region,Austria,walking,Österreich,NaN,NaN,100.0,2020-01-13
4,country/region,Belgium,walking,België|Belgique,NaN,NaN,100.0,2020-01-13

In [44]:
google_df = google_df.rename(columns={'country_region': 'region'})
google_df = google_df.drop(google_df.columns[0], axis=1)
google_df.head()

,country_region_code,region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [46]:
apple_google_df = pd.merge(apple_df, google_df, how='left', on=['date', 'region'])
apple_google_df.drop(['country', 'sub_region_1', 'sub_region_2'], axis=1, inplace=True)
apple_google_df

,geo_type,region,transportation_type,alternative_name,sub-region,walking_score,date,country_region_code,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,country/region,Albania,walking,NaN,NaN,100.00,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,country/region,Argentina,walking,NaN,NaN,100.00,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,country/region,Australia,walking,AU,NaN,100.00,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,country/region,Austria,walking,Österreich,NaN,100.00,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,country/region,Belgium,walking,België|Belgique,NaN,100.00,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8626,country/region,United Arab Emirates,walking,الإمارات العربية المتحدة,NaN,61.61,2020-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8627,country/region,United Kingdom,walking,UK,NaN,70.61,2020-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8628,country/region,United States,walking,USA,NaN,94.30,2020-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8629,country/region,Uruguay,walking,NaN,NaN,46.72,2020-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8630,country/region,Vietnam,walking,Việt Nam,NaN,96.86,2020-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN